[2017-05-27 15:42] mendhak opened #1 "Downloading translations failed - debug logging?"
Hi I'm currently trying to use this plugin in IntelliJ IDEA.  I've created the `crowdin.properties` with project-key and project-identifier in it.  When I try to download the translations I get "Downloading translations failed".  I tried tailing the `idea.log` but there are no entries that appear in there at all.

Possible to add some debug logging or instructions to troubleshoot?

[2017-05-29 05:44] Andrulko commented on #1
Hi @mendhak, reviewing possible reasons why translations aren't synced. Thanks for your suggestion with debugging, this point will be reviewed as well

[2017-05-31 14:30] ihor-popyk commented on #1
Hi @mendhak ,
fixed this bug in new version 0.5.4. Just update it.
Thanks for report!

[2017-06-01 18:05] mendhak commented on #1
Hello @ihor-popyk @Andrulko - thanks, it worked, v0.5.4  thanks for your quick response.  I'll close now.

[2017-06-01 18:05] #1 closed

[2017-07-12 14:16] jonathan-mediamonks opened #2 "Configure auto upload"
Hi, we are trying out the new Crowdin plugin. As it's really easy to setup it would be great if the auto-upload could be turned off some way. It's for example not convenient to upload the strings.xml every time a developer switches branches.

[2017-07-12 14:21] ihor-popyk commented on #2
Hi @jonathan-mediamonks . Thank you for your advice on improving our plugin. I'll add this option with the next update of the plugin.

[2017-10-24 19:08] AllanWang commented on #2
Something needs to be done about the way it is downloaded as well. If you switch to a new branch and don't upload, downloads will all fail as there's nothing to pull  in

[2017-10-24 19:16] Andrulko commented on #2
Hi @AllanWang, thanks for another improvement idea for the plugin! The main problem here I guess is that branches are not fully supported yet, so the issue occurs unfortunately

[2017-10-24 19:20] AllanWang commented on #2
I had quite a few conflicts with the plugin, but I'm happy to see that this along with the cli are open sourced. For the branch issue, is this something you plan on fixing on the back end?

At least in the case of hiding duplicates, can the plugin verify that setting and automatically push and pull?

There are a few other blips I've encountered that I will post as separate issues

[2017-10-24 19:23] AllanWang opened #3 "Support multiple modules"
The plugin was build with the expectancy of only one module per project. If a project has multiple submodules, each with their own string data, downloading the strings will aggregate it all to one of the submodules.

Example:

If you have

`a/src/main/java/res/values/strings_a.xml`

and

`b/src/main/java/res/values/strings_b.xml`

downloading them may put them both under `b/src/main/java/res/value

[2017-10-24 19:24] Andrulko commented on #2
@AllanWang There are some technical obstacles, but it should be possible to implement normal workflow with branches, lookign into that.

The plugin doesn't control settings in Crowdin, it just push and pulls. If duplicates are hidden and auto-translated in the project, you will always get the same download results via web interface / CLI / plugin. Files are generated by Crowdin, plugin just import

[2017-10-24 19:25] AllanWang commented on #2
I'm not referring to modifying settings, but moreso accessing. For instance, if you are able to pull the user settings and see that they choose to ignore duplicates, there is no danger in pushing strings, and downloading them. In the case of translations per duplicate, doing so may be useless as no translations will be merged.

[2018-03-02 16:38] andrew-polk opened #4 "Feature Request: Add option to only download approved translations"
Currently, download gets all strings whether they have been approved or not.
The user should be able to specify if he wants to only download approved translations.

[2018-03-02 16:41] andrew-polk opened #5 "Feature Request: Add option to download only certain files"
We have a Crowdin project which is used for many files, including our Android app.
When I download using the plugin in Android Studio, I get all those other files when all I want are the strings.xml files for the Android app.

[2018-03-02 19:21] v3ctorman commented on #4
@andrew-polk
Have you tried to hit the option **Export only approved translations** in project settings (first tab)?
http://bit.ly/2tb9xft

[2018-03-02 19:39] v3ctorman commented on #5
@andrew-polk thanks for the request. As a possible workaround, you can create a separate project just for Android app ([translations can be shared](https://support.crowdin.com/translation-memory/#assigning-tm)) so you'll be able to download only Android-related files.
If your project is under open source license, we can extend the project limit for this purpose.

[2018-08-08 06:41] ubaierbhat opened #8 "Annoying notifications about missing properties file"
Notifications about missing crowdin.properties file should only be shown if the project is using crowdin, not for every project I open in Android studio.

Plugin version: 0.5.10
AS version: 3.1.4

[2018-08-08 07:10] Andrulko commented on #8
@ihor-popyk Hope it's something you can easily improve

[2019-02-12 22:53] stprima opened #9 "Add custom directory to source file"
Is there a way to add custom file directory for the crowdin plugin?
The Crowdin plugin only seems to be checking for the source files under `{MainProject|/res/values/customstrings.xml`
The issue is, my source file is located inside `{MainProject}/assets/language/customstrings.xml`

This is my current crowdin.properties configuration, but it does nothing
`project-identifier=testproj`
`project-key=a

[2019-02-12 23:02] Gosteeva commented on #9
Hello!

That is true that plugin checks the files from values directory. `sources` parameter is meant to contain the list of the files you would like to synchronize. If you will not specify it, only _strings.xml_ will be synchronized by default.

I will check with the developers if we can do anything to customize this behavior according to your needs and get back with the news!

[2019-02-12 23:04] stprima commented on #9
That is great! Thanks for the quick response!

[2019-02-16 18:04] Gosteeva commented on #9
Hello @stprima! I'm back here with the news! Idea of setting the custom directories in plugin config got approved by the upper management. It might take some time to get it on track, but you will be the first to know once the feature launch

Is it possible for you to store the files in `{MainProject|/res/values/customstrings.xml` as a temporary decision?

[2019-07-23 08:58] diego-depop commented on #3
Any update on this?

[2019-08-11 10:43] michaelWuensch opened #10 "Error downloading translations"
Hi,
yesterday it worked fine. But today when I try to download translations I always get just this error:
"Downloading transactions failed"

This error is not very helpful, I have no idea what goes wrong or how I can find out what the error is.
Any help? Thanks!

[2019-08-11 11:13] michaelWuensch commented on #10
Okay, I found the solution.
The problem was I switched the branch and therfore it did not work anymore.
Using disable-branches=true fixed it.

Still, I think the error message could be improved.

[2020-01-08 17:58] stprima commented on #9
Hi @Gosteeva is there any update on this item?

[2020-01-08 18:07] yuliiaR commented on #9
Hi @stprima The task is already on "to do" stage and should be implemented in the near future.

As soon as it is ready, we will immediately notify you about that :)

[2020-05-18 12:54] andrii-bodnar commented on #2
`auto-upload` option

[2020-05-18 12:54] #2 closed

[2020-05-19 09:07] andrii-bodnar commented on #10
Fixed in 1.0.0 version

[2020-05-19 09:07] #10 closed

[2020-05-19 12:29] andrii-bodnar commented on #4
**Export only approved translations** in project settings

[2020-05-19 12:29] #4 closed

[2020-06-02 07:34] #5 closed

[2020-06-02 07:34] #9 closed

[2020-06-02 08:01] #8 closed

[2020-06-02 17:59] andrii-bodnar commented on #3
@AllanWang @diego-depop hi,

in the [1.1.0](https://github.com/crowdin/android-studio-plugin/releases/tag/1.1.0) version we have added a possibility to [configure](https://github.com/crowdin/android-studio-plugin#source-files-and-translations) custom source and translation files patterns.

Could you please try this and check if it fixes multiple modules issue?

[2020-06-03 22:01] SalvatoreT commented on #3
I have a project with multiple modules that each contain their own `strings.xml` file, and 1.1.0 overwrote all of the strings by making only one `strings.xml` file.

<img width="1182" alt="Screen Shot 2020-06-03 at 2 59 58 PM" src="https://user-images.githubusercontent.com/1223008/83693458-f6b06480-a5aa-11ea-9c51-effd5563b3d8.png">

I'd like to second @AllanWang's suggestion.

[2020-06-03 23:46] AllanWang commented on #3
I believe my usage in the beginning was with the plugin, but since then, I've moved to github integrations so I can verify changes before merging. My approach is at https://github.com/AllanWang/KAU/blob/dev/crowdin.yml

---

If there are more details on which workflows this affects, I can try testing in the future

[2020-06-04 09:34] n0vah opened #35 "Download translations doesn't work on version 1.1.0"
After upgrading to version 1.1.0, when I try to download translations, the message "Crowdin: Translations successfully downloaded" appears, but translations are not downloaded.
On version 1.0.0 everything works fine.

[2020-06-04 09:37] andrii-bodnar commented on #35
Hi @n0vah,
could you please share your `crowdin.properties` file content? (without credentials, of course)

[2020-06-04 09:38] n0vah commented on #35
project-id=
api-token=
disable-branches=true
auto-upload=false

[2020-06-04 09:52] andrii-bodnar commented on #35
@n0vah, just checked your configuration on the test project and can't reproduce.

Could you please clarify "translations are not downloaded" means? Files with translations don't appear in the Android Studio Project or some translations weren't added to the existing files?

Also, please check API Calls History in the Crowdin Project settings if there any errors.

[2020-06-04 10:47] n0vah commented on #35
I checked the API call history and all API calls were successful.
New translation files don't appear and new translations don't appear in existing files.

[2020-06-04 11:23] andrii-bodnar commented on #35
@n0vah , thanks. Also, it will be helpful to reproduce the bug if you could provide us some information about the localization files hierarchy in your project.

[2020-06-04 11:57] n0vah commented on #35
app/src/main/res/values-es
app/src/main/res/values-de
app/src/main/res/values-fr
...

[2020-06-04 16:16] eneiluj opened #36 "[help] avoid/ignore a directory"
Hey, thanks a lot for this very useful plugin!

Since 1.0.0 (or 1.1.0 maybe), when I "Download Translations" from "Tools -> Crowdin", some translation files get deleted in a subdirectory of my repository. This is actually a git submodule containing translation files. The submodule source file was not uploaded to the Crowdin project. Those translation files have nothing to do with my project :grin:

[2020-06-04 16:25] andrii-bodnar commented on #36
Hi @eneiluj !

Could you please provide more information about the localization files hierarchy in your project and which ones were deleted? It will help us to reproduce this problem

Also, please try to [download](https://plugins.jetbrains.com/plugin/9463-crowdin/update/86508) and install v1.0.0 and then check this version. It also can help us to reproduce the problem.

[2020-06-04 16:38] eneiluj commented on #36
Thanks for your answer.

I forgot to mention I have the plugin v1.1.0 installed. Would you still like me to downgrade it to v1.0.0?

So my source and translation files are there:
[code]
They are updated correctly when requesting translations from Crowdin.

The files that get deleted are there:
[code]
I don't know why those files are deleted and the others are not.

If you want to reproduce the pro

[2020-06-04 16:45] andrii-bodnar commented on #36
@eneiluj, thanks for the details!

Just to check if this problem was before or appeared in the latest version. For regular use, I recommend the latest version :)

[2020-06-04 16:50] eneiluj commented on #36
No problem with v1.0.0 so it appeared with v1.1.0

[2020-06-04 16:53] andrii-bodnar commented on #36
Thanks, we are trying to fix it ASAP. Fix will be available in the next version.

Sorry for the inconvenience!

[2020-06-04 16:55] eneiluj commented on #36
It was not such a big problem. Thanks a lot for considering it! :rocket:

[2020-06-04 18:18] SalvatoreT commented on #3
@andrii-bodnar, are you planning on having the Android Studio plugin support projects with multiple modules that each have their own `strings.xml` file?

[2020-06-04 18:58] andrii-bodnar commented on #3
@SalvatoreT, yes, currently we are in the process of implementing this functionality.

[2020-06-05 01:17] SalvatoreT opened #37 "Allow for the Personal Access Token outside crowdin.properties"
**Is your feature request related to a problem? Please describe.**
The Crowdin documentation says to treat the personal access token like a password, yet the Android Studio plugin (and all the integrations) tell you to put it in a `crowdin.properties` file which in all likelihood will get checked into git.

**Describe the solution you'd like**
There's a few alternatives.

1. Allow for folks to sto

[2020-06-05 01:36] sergo-crowdin commented on #37
Hello Salvatore,

Thank you for the improvement idea. I'll pass that to our developers so that they could think how to implement that :)

[2020-06-05 04:20] SalvatoreT commented on #37
Thank you, @sergo-crowdin!

[2020-06-05 09:09] andrii-bodnar commented on #35
Hi, @n0vah. Could you please also provide your project ID? If you don't want to post it here, you can contact us via this form - https://crowdin.com/contacts.

[2020-06-05 10:01] n0vah commented on #35
391541

[2020-06-05 11:27] andrii-bodnar commented on #35
@n0vah still can't reproduce. What is your OS and Android Studio version?

[2020-06-05 11:28] n0vah commented on #35
Android Studio 4.0
macOS Catalina 10.15.5 (19F101)

[2020-06-05 12:21] andrii-bodnar commented on #36
Hi, @eneiluj!

We are discovered more about your problem and figured out that it is related to the issue https://github.com/crowdin/android-studio-plugin/issues/3.

Version 1.0.0 considered only the first `strings.xml` file and this file was selected by this algorithm. But in v1.1.0 we have changed sources detection algorithm and from now we are considering all the `strings.xml` files.

Since this

[2020-06-05 13:08] andrii-bodnar commented on #35
@n0vah, attaching the test project - [testProject.zip](https://github.com/crowdin/android-studio-plugin/files/4736257/testProject.zip)

Try to reproduce the problem on this project and describe details of how you do that.

Are there differences with your project? Maybe your project containing other modules with `strings.xml` files?

[2020-06-05 13:16] AgneseBussone opened #38 "[config question] Files for different app flavours"
Hello,
I have an app with two different flavour and each one has a localised name. I'm trying to setup the plugin to sync with the files I currently have in my crowdin project, but I'm having some issue understanding what's the right setup for my case.

The files are in these folders:
projectName/app/src/**main**/res/values/strings.xml
projectName/app/src/**main**/res/values/app_name.xml
projectNa

[2020-06-05 13:29] n0vah commented on #35
It also doesn't work on your test project (version 1.0.0 works fine, but 1.1.0 doesn't work).
I also tried to use this plugin on another MacBook and another project, but it also didn't work on it.

[2020-06-05 13:35] andrii-bodnar commented on #38
Hi, @AgneseBussone!

The current behavior of Crowdin Android Studio Plugin is uploading files to the Crowdin project root (or branch if `disable-branches` is set to `false`). It works for simple cases when all the source files have different names.

Plugin uploads files to the project root, so if your existing Crowdin files are located in the root, everything should be ok.

Just let me clarify: do

[2020-06-05 14:05] AgneseBussone commented on #38
Thanks for the fast response!

No, this file is already in crowdin. The tree I have in crowdin is
flavourA/app_name.xml
main/strings.xml
main/app_name.xml

It would be nice to be able to sync app_name.xml files, but if the plugin doesn't support this case I think it would be fine. It's not that the app name changes all the time to require a constant sync 😄

In case I want to sync only strings.xml

[2020-06-05 14:23] andrii-bodnar commented on #38
Just move your `strings.xml` and `app_name.xml` files to the Crowdin project root, existing translations will be saved. Then you can simplify your `crowdin.properties` file in the next way:

[code]

The plugin will not synchronize `flavourA/app_name.xml` file, only `values/strings.xml` and `values/app_name.xml` will be synced.

Currently, we are preparing an improvement where will be allowed to up

[2020-06-05 14:30] andrii-bodnar commented on #35
@n0vah try to use `File` > `Reload All from disk` after translations downloading.

[2020-06-05 14:31] AgneseBussone commented on #38
Ok, thanks for your help!

[2020-06-05 14:31] #38 closed

[2020-06-05 14:40] n0vah commented on #35
I've tried this before, it didn't help.

[2020-06-05 14:58] n0vah commented on #35
Also I found another bug in this version 1.1.0:
I have build variants stageDebug, stageRelease, prodRelease, ...
And for build variants stageDebug, stageRelease I've created separate strings.xml files which contains one string "app_name" (paths: app/src/stageRelease/res/values/strings.xml, app/src/stageDebug/res/values/strings.xml )
And twice it happened that after clicking on "Upload source" the

[2020-06-05 15:21] andrii-bodnar commented on #35
Probably it's the multiple modules problem https://github.com/crowdin/android-studio-plugin/issues/3. Also, it might be related to the issue https://github.com/crowdin/android-studio-plugin/issues/36.

---

Our QA team just found the reason why translations don't appear in the project.

Default translations placeholder - `%android_code%`. You are using placeholder `%two_letters_code%` pattern for

[2020-06-05 15:44] n0vah commented on #35
I added files.source and files.translation to crowding.properties, but it didn't help (at least, Download translations still doesn't work, Upload source I didn't check)

[2020-06-05 16:03] andrii-bodnar commented on #35
@n0vah, also, try to change your Crowdin file settings export pattern to `/app/src/main/res/values-%two_letters_code%/%original_file_name%`

[2020-06-05 16:28] n0vah commented on #35
It helped, thanks.
And files.source also helped with issue of uploading source.

[2020-06-05 16:28] #35 closed

[2020-06-05 16:31] n0vah opened #39 "Add dialog "Are you sure?" after click on the "Upload Translations" button."
Now it's easy to miss click on the "Upload Translations" button and all translations will be rewritten on Crowdin.

[2020-06-05 16:33] og-fox commented on #39
@n0vah thanks a lot for pointing that out! We'll definitely make an improvement for translation upload

[2020-06-22 19:28] ImangazalievM commented on #3
@andrii-bodnar I have the same problem as Nick @SalvatoreT

[2020-06-22 19:30] SalvatoreT commented on #3
@ImangazalievM, I received an email this morning from Olga, their customer success manager that the fix is underway.

[2020-07-21 07:04] #36 closed

[2020-07-22 11:38] andrii-bodnar commented on #39
Available in the [Version 1.2.0](https://github.com/crowdin/android-studio-plugin/releases/tag/1.2.0)

[2020-07-22 11:38] #39 closed

[2020-07-22 11:39] andrii-bodnar commented on #37
Available in the [Version 1.2.0](https://github.com/crowdin/android-studio-plugin/releases/tag/1.2.0) :rocket:

[2020-07-22 11:39] #37 closed

[2020-07-22 11:40] andrii-bodnar commented on #3
Available in the [Version 1.2.0](https://github.com/crowdin/android-studio-plugin/releases/tag/1.2.0) :rocket:

[2020-07-22 11:40] #3 closed

[2020-07-22 12:01] n0vah commented on #39
Thanks

[2020-07-24 05:44] SalvatoreT commented on #3
@andrii-bodnar uploading the sources works in 1.2.0! I set `preserve-hierarchy=true`, and the source strings showed up in my dashboard. 👍

However, I tried uploading translations, but that doesn't seem to work. Do I need to add something to the `crowdin.properties` file to get my pre-existing translations uploaded?

[2020-07-24 06:19] andrii-bodnar commented on #3
Hi @SalvatoreT!

Happy to know that uploading sources work as expected! Could you please share your sources and translations files structure for all modules you localizing? It can help us to reproduce this problem.

[2020-07-24 06:43] SalvatoreT commented on #3
Yep! Here are three modules that have translations.

[code]

[2020-07-24 11:18] andrii-bodnar commented on #3
@SalvatoreT, we can't reproduce this problem, could you please share your configuration file also? (without credentials)

[2020-07-24 19:42] SalvatoreT commented on #3
[code]

[2020-07-24 19:43] og-fox commented on #3
@SalvatoreT thanks a lot for sharing your configuration!

[2020-07-27 09:55] andrii-bodnar commented on #3
Hi @SalvatoreT !

Could you please try this build with the possible fix?

[Crowdin-1.2.0.zip](https://github.com/crowdin/android-studio-plugin/files/4981286/Crowdin-1.2.0.zip)

[2020-07-27 19:25] SalvatoreT commented on #3
It looks like this build only has "upload" options.
<img width="511" alt="Screen Shot 2020-07-27 at 12 17 19 PM" src="https://user-images.githubusercontent.com/1223008/88582666-f27d5200-d003-11ea-93ed-68970cefaee1.png">

When I tried both options, I got a pop-up asking if I wanted to upload, but then nothing happened afterwards. Previously, I had seen logs when I uploaded sources but not this time

[2020-07-27 19:33] Dmytro228 commented on #3
Hi @SalvatoreT !

We're already investigating this

[2020-07-28 09:53] frombetelgeuse commented on #3
Hi @SalvatoreT!

This problem usually when you add a lib/Crowdin-1.2.0.jar file from .zip archive instead of .zip archive itself. Could you please make sure that you've added it correctly?

[Updated Crowdin-1.2.0.zip](https://github.com/crowdin/android-studio-plugin/files/4987371/Crowdin-1.2.0.zip)

[2020-07-28 17:47] SalvatoreT commented on #3
Ah, I _was_ using the `.jar`! I switched to using the `.zip`, so I saw the three options.
<img width="477" alt="Screen Shot 2020-07-28 at 10 45 03 AM" src="https://user-images.githubusercontent.com/1223008/88701915-7cd6bc00-d0bf-11ea-9226-ce3654c0c7af.png">

I could upload the sources.
[code]

Unfortunately, I couldn't upload the translations.

[2020-07-28 17:49] ira-sem commented on #3
Hi Salvatore! Were there any errors or something when uploading translations? Any details would help

[2020-07-28 18:06] SalvatoreT commented on #3
I see an uploading indicator, but nothing else happens.
![uploading-translations](https://user-images.githubusercontent.com/1223008/88703787-09827980-d0c2-11ea-8519-f387166eabf6.png)

I don't see anything in the Event Log, and there's nothing in the Android Studio logs here about the upload process.
[code]

Is there some other place that I'd see error logs?

[2020-07-28 18:09] og-fox commented on #3
Salvatore, thanks a lot for checking it! The errors usually appear like a pop-up window, so I assume there was nothing obvious. That definitely helps - we will be checking it further

[2020-07-29 11:21] frombetelgeuse commented on #3
Hi @SalvatoreT!

Just now noticed that you have non-standard translation paths. When you don't specify any source/translation paths, plugin chooses to set standard pattern `**/values/strings.xml` for sources and `**/values-%android_code%/%original_file_name%` for translations. For your case, you have to explicitly set paths to all your sources. Like this:

[code]

Sorry for the inconvenience!

Als

[2020-07-29 19:18] SalvatoreT commented on #3
Hey @frombetelgeuse!

Non standard for Crowdin or non-standard for Android? The paths I'm using are standard for Android. You can read about them here. https://developer.android.com/guide/topics/resources/localization#creating-alternatives

You can also see a list of valid language codes here. https://developer.android.com/guide/topics/resources/providing-resources#AlternativeResources

What makes

[2020-07-30 06:54] frombetelgeuse commented on #3
Hi @SalvatoreT,

I put it wrongly about non-standard paths. They are standard for both Crowdin and Android. But, when working with automatization of translation uploads, there is a need to specify more explicitly, which language codes are being used. Because of that, 'ar'([<ISO 639-1>](http://www.loc.gov/standards/iso639-2/php/code_list.php))(`%two_letters_code%` for Crowdin) and 'ar-rSA'([<ISO 63

[2020-07-30 20:37] SalvatoreT commented on #3
Can you make the plugin responsive so that it can figure out if the Android project is language maps to the Crowdin `two_letters_code` or `android_code`? It would be nice if the multi-module language support worked out of the box for any standard Android setup and developers didn't have to be aware of Crowdin's internal representations of the language codes.

I got everything working after explici

[2020-07-30 21:42] frombetelgeuse commented on #3
We have some ideas to make the interaction with the plugin more transparent. The plugin is currently in active development, so we are gradually moving towards this.

We are sorry for the inconvenience.

[2020-09-15 02:05] BillHoo opened #45 "Always failed to upload source strings."
**Describe the bug**
It is very strange, the Crowdin Plugin 1.2.0 is always failed to upload source strings even from a brand new demo project.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the plugin from Android Studio > settings > plugins > repository. Restart the IDE to make it available.
2. Add the `crowdin.properties` file to the root of project.
3. Just add two lines into it

[2020-09-15 02:06] BillHoo commented on #45
Its not my source string quote limit i guess, cos' i've deleted a lot strings before the test, it still not working, the Android Demo peoject have only 10 strings to upload.

[2020-09-15 02:08] Olena1234 commented on #45
Bill, thank you for the details! Checking them with our devs

[2020-09-15 09:18] nataliacrowdin commented on #45
Hi Bill!
As I see you still have the number of hosted words used almost completely: "2 more hosted words can be uploaded"
Because of this reason you cannot fill the source files

[2020-09-15 09:52] BillHoo commented on #45
@nataliacrowdin Hi Natalia, i confirm that i have enough strings. I've deleted a lot strings before, and at least remains 3000 hosted words, and then use the Android brand new project which have only 10 strings (maybe 40 hosted words), still failed.

[2020-09-15 09:59] BillHoo commented on #45
BTW, i'm trying to buy more hosted words these days, will test again after that.

And i think your plugin could be better if you detect there's a limit, you said it out to us, like "Your hosted words are reached the limit, upload source failed", instead of a general "Failed to upload source strings" error message.

[2020-09-15 10:23] andrii-bodnar commented on #45
Hi @BillHoo !

Sorry for the inconvenience, we are still trying to reproduce and fix this issue.

Could you please tell us which OS are you using?

[2020-09-15 10:24] BillHoo commented on #45
Windows 10

[2020-09-15 10:26] andrii-bodnar commented on #45
Do you have the possibility to try to run the plugin on another computer with a different OS? Just in case

[2020-09-15 10:30] BillHoo commented on #45
Sure, i will try it when i'm available.

[2020-09-17 06:54] BillHoo commented on #45
Update: The plugin is work on Mac OS system. Windows 10 still fails.

[2020-09-17 06:59] andrii-bodnar commented on #45
HI @BillHoo !
Thanks for the update. I'm sure it will help us a lot in solving this issue.

[2020-09-29 02:55] BillHoo commented on #45
Hi there, any update on this topic? thank you.

[2020-09-29 06:32] andrii-bodnar commented on #45
Hi @BillHoo,

The issue is fixed and currently is being tested by our QA team.

For now, you can try a plugin version with the fix: [Crowdin-1.2.0.zip](https://github.com/crowdin/android-studio-plugin/files/5296876/Crowdin-1.2.0.zip)

Could you please confirm that everything is ok?

[2020-09-30 03:01] BillHoo commented on #45
Hi @andrii-bodnar , confirmed it is worked now, waiting for your officially release.

Thanks for your team's effort on this!

[2020-10-01 09:15] #45 closed

[2020-11-18 08:16] andrii-bodnar opened #48 "Language Mapping Support"
Support *Language Mapping* configured in Crowdin UI

[2020-12-07 14:43] #48 closed

[2021-03-15 10:56] n-belokopytov opened #53 "Release 1.3.1"
**Is your feature request related to a problem? Please describe.**
Seems like there is an improved error wrapper in code already. Our plugin has stopped working in December and I would love to fix the integration, but without any error logging it's impossible.

**Describe the solution you'd like**
Please release the new version that has better error logging.

[2021-03-15 10:57] n-belokopytov commented on #53
@andrii-bodnar ping

[2021-03-15 12:16] andrii-bodnar commented on #53
Hi @n-belokopytov!
Sure, I will release a new version today.

[2021-03-15 12:45] andrii-bodnar commented on #53
@n-belokopytov, just released the new version, I will close this issue.

Please try this version and if you will still see problems with the plugin, please create a new issue or [Contact](https://crowdin.com/contacts) Customer Success Service.

[2021-03-15 12:46] #53 closed

[2021-05-07 13:01] MrReSc opened #57 "Downloading translations no longer works"
# Information
I turned on the debug log and downloaded the translations again, then it worked immediately!

To switch on the debug log, simply add `debug=true` to the `crowdin.properties` file.

However, I would like to document the behaviour here.

# Bug Report

**Describe the bug**
Recently, I can no longer download the translations in Android Studio. I get the following error message:

[code]
I

[2021-05-14 03:37] MrReSc commented on #57
The problem still exists. I have to switch the debug mode on and off every time for the download to work.

[2021-05-14 03:47] Olena1234 commented on #57
Hi there! Sorry about these inconveniences, I will pass the details to our devs, and come back on the matter

[2021-05-14 15:00] andrii-bodnar commented on #57
Hi @MrReSc! Could you please provide your `crowdin.properties` config? (without credentials)

Probably, you need to add `disable-branches=false` to your config

[2021-05-14 15:20] MrReSc commented on #57
@andrii-bodnar thank you for your quick reply.

[code]

[2021-05-14 15:23] andrii-bodnar commented on #57
Thank you @MrReSc!

Please try to add the `disable-branches=false` to your config, then checkout to the `master` branch and try to upload sources,  download translations.

[2021-05-14 15:25] MrReSc commented on #57
Thank you. I will give it a try. I'll be away for a week, then I'll close the issue if it works.

[2021-05-19 10:20] nhammami opened #58 "Download a specific Translations not all translations"
In my Android project i have many Flavors, each flavor have some languages, so i need for example for flavor "X" to download only the translations of two languages, and for Flavor "Y" i want to download the translations of four languages, But what I see in crowdin Android Studio plugin, I can't choose a specific languages to download.

I try  Tools -> Crowdin -> download Translations ,but it downl

[2021-05-19 11:26] EvgeniyKu opened #59 "Add the ability to use different crowdin.properties for different flavors"
I have several flavors in a project and want to use a separate project in crowdin for each flavor. But now i can't specify several crowdin.properties in one project. The same issue may be in case, when using several application modules.

Can the plugin grab the crowdin.properties file depending on the flavor selected?
If no, can we define several properties in root folder (like crowdin-flavor1.pro

[2021-05-22 17:19] MrReSc commented on #57
Unfortunately, it does not work. The following is the debug log:

[code]
If I switch the debug mode off and on again, it works afterwards.
[code]

[2021-05-22 17:31] crowdin-support commented on #57
Hi there! Sorry for the inconvenience, I'll pass it to the tech team, and we'll come back with the updates

[2021-05-25 10:02] nhammami opened #60 "All options in settings file crowdin.properties"
Here i want to ask about all the options that i can configure it in crowdin.properites

project-id
api-token
preserve-hierarchy
auto-upload

files.source
files.translation

No more options ?

cannot add a target language for translation for each file.source ?

best Regards,
Nouha.

[2021-05-25 10:08] BozhenaDobrovolska commented on #60
Hi Nouha!

Here is a documentation to view:
https://support.crowdin.com/android-studio/

[2021-05-28 09:01] nhammami commented on #60
Hi @BozhenaDobrovolska , @andrii-bodnar !

thanks for your reply,

I have other question about languages, i do some search and i read all documents about crowdin, but i can't find how to configure or it's possible to use a different placeholders for the same files.translation for example, in my project i have the French and Spanish languages (values-fr, values-es) so i use in my `crowdin.propertie

[2021-05-28 09:21] Olena1234 commented on #60
Hi @nhammami ! I believe that setting up language mapping for two of the four languages would help here, kindly check more details below:
https://support.crowdin.com/advanced-project-setup/#adding-custom-language-codes

Then you may use only one placeholder for all languages in the exported path

[2021-05-28 09:29] nhammami commented on #60
hi @Olena1234 ,

Thanks for your quick reply.

[2021-06-07 08:12] andrii-bodnar commented on #57
Hi @MrReSc!

We've improved error handling, could you please try installing this version of the plugin and check?

[Crowdin-1.4.0.zip](https://github.com/crowdin/android-studio-plugin/files/6607103/Crowdin-1.4.0.zip)

This should help us to understand the root cause of the issue.

[2021-06-09 04:03] MrReSc commented on #57
It worked with the following combination:

[code]
If I remove `disable-branches=false` from the configuration it also works.

[code]

[2021-06-09 04:07] denisqua commented on #57
Hi @MrReSc !

Thanks a lot for letting us know, much appreciated!

@andrii-bodnar please take a look at that 💪

[2021-06-09 07:35] andrii-bodnar commented on #57
@MrReSc thanks for the details provided!

Is this issue still reproducible on this version of the plugin? If so, please provide logs when a bug happens.

[2021-06-30 04:40] alecpetrosky opened #62 "Allow putting api-token in the external file outside VCS directory"
**Is your feature request related to a problem? Please describe.**
As a security measure, especially for opensource projects, it would be great to have an option of placing Crowdin api-key outside of version control.

**Describe the solution you'd like**
- Crowdin CLI client already reads .crowdin.yml with the highest priority.
- Add option to set file name with api-key (~ as gradle does for signi

[2021-06-30 04:45] alecpetrosky commented on #62
Oh, I see that there's an option of using env variables api-token-env. It solves the problem. Not as good as external file but much better than putting Crowdin api-key under version control.

[2021-06-30 04:58] Rommka4 commented on #62
Hello Alec,
Glad to hear you found a solution and that the material collected here regarding android-studio-plugin is useful for you😊

[2021-07-14 10:39] nhammami commented on #59
Hi Crowdin Team,

I have the same issue @EvgeniyKu , i  want to use a separate project in Crowdin for each of my flavors, is this feature can be added in the next version of android studio plugin ?

Best Regards,
Nouha.

[2021-07-15 16:00] andrii-bodnar commented on #57
Hi @MrReSc! Any updates on this issue?

[2021-07-15 16:59] MrReSc commented on #57
Not yet. I haven't received any new translations yet.

[2021-07-27 09:51] nhammami opened #64 "Add ability to user one more of crowdin.properties in main project"
I have several flavors in a project and want to use a separate project in crowdin for each flavor. But now i can't specify several crowdin.properties in one project.

If we add the ability to use one more of crowdin.properties files, so we can config each one for a separate project on Crowdin

Best Regards,
Nouha.

[2021-07-27 13:07] andrii-bodnar commented on #59
Hi @nhammami!

We will consider the possibility of increasing the priority of this issue. Could you please share some sample Android project that includes different flavors?

This could help us to correctly design this feature. Thanks.

[2021-07-27 13:10] andrii-bodnar commented on #64
Hi @nhammami!

It seems like this issue duplicates the existing one - https://github.com/crowdin/android-studio-plugin/issues/59, is it right?

Sorry for the long response in the issue above, missed it somehow :grimacing:

[2021-07-27 13:38] nhammami commented on #64
hi @andrii-bodnar ,

yes it's the same issue and we didn't have a response for that

[2021-07-27 14:31] andrii-bodnar commented on #64
@nhammami I answered in #59, sorry for a long response

can we close the current issue?

[2021-07-27 14:33] nhammami commented on #64
@andrii-bodnar  thank you.

yes please close it.

[2021-07-27 14:33] #64 closed

[2021-07-28 10:40] nhammami commented on #59
Hi @andrii-bodnar

So you can check this [Sample Android Flavor project](https://github.com/Goldenmace/android_flavoring)

you can see in this project there is three flavors :

- free
- paid
- promo

and the configuration in gradle

[code]

Thank you for your attention.

Best Regards,
Nouha.

[2021-07-28 11:12] andrii-bodnar commented on #59
Hi @nhammami

Thanks a lot for the details provided!

[2021-07-28 11:16] nhammami commented on #59
Thank for you @andrii-bodnar

Let me now please if this feature will be applied.

Thanks,

Best Regards,
Nouha.

[2021-08-09 07:49] andrii-bodnar commented on #62
Hi @alecpetrosky!

you could load the credentials from environment variables:

[code]

So, using this approach, the `crowdin.yml` file could be committed to the repository without compromising the credentials.

[2021-08-16 08:07] n0vah opened #67 "crowding.properties can't find environment variables from ~/.zprofile"
**Describe the bug**
I have crowdin.properties
[code]
And I added environment variable to the ~/.zprofile
`export CROWDIN_API_KEY=my_personal_access_token`

In terminal using `printenv` or` echo $CROWDIN_API_KEY` I see value of CROWDIN_API_KEY even after restart Mac OS, but when I start Android Studio or trying to use Crowdin plugin I see an error
**Crowdin
Errors in the configuration file:
Enviro

[2021-08-20 14:03] andrii-bodnar commented on #67
Hi @n0vah!

Sorry, but we can't reproduce this issue

Please make sure you restart your IDE or computer after environment variable export

Also, you could try to use the following way to initialize the environment variable in the `~/.zhsrc` file:

[code]

[2021-08-20 14:49] n0vah commented on #67
Hi.
Yes I restarted my IDE and computer and this didn't helped for ~/.zprofile.

Thanks, adding `launchctl setenv CROWDIN_API_KEY my_personal_access_token` to the `~/.zhsrc` helped.

[2021-08-20 14:49] #67 closed

[2021-09-02 08:35] Andralisimus opened #68 "Unfound sources when downloading translations"
Crowdin can't find sources for all translations when Tools -> Crowdin -> Download Translations

I have read documentation for like 10 times. Could not understand how files.source and files.translation should look. A tried multiple variants, but according to documentation process should work without this properties. So maybe this is bug.
I'll show everything in screenshots maybe you guys will have

[2021-09-02 09:32] andrii-bodnar commented on #68
Hi, @Andralisimus!
Could you please point how the strings.xml file was uploaded to the Crowdin project?

[2021-09-02 10:53] Andralisimus commented on #68
@andrii-bodnar
I wasn't there to know for sure but with 90% probability I can say that it was added with Add File button.

Can you please specify what should be done before downloading translations with plugin?
Because if I download strings.xml from files it's just default values, but if I go Home-> Download Latest, there will be latest translations which I need in project

<img width="799" alt="S

[2021-09-02 11:15] andrii-bodnar commented on #68
@Andralisimus try to upload sources (strings.xml) using Android Studio Plugin. Just click *Tools* > *Crowdin* > *Upload Sources*. It will update your strings.xml file in the Crowdin project and set the corresponding file export pattern. After that translations downloads should work correctly.

[2021-09-02 11:34] Andralisimus commented on #68
@andrii-bodnar
Things changed, that's a good news. Now debug shows:
`Translation file '/values-pl-rPL/strings.xml' - Found`
as well as all other languages

And in res folder I now have `values-pl-rPL` package.

Could you please assist me I one more thing?
How can I get rid of -rPL part through `crowdin.properties` ?

[2021-09-02 12:19] andrii-bodnar commented on #68
@Andralisimus, the *resulting file after translations export* field should be the same as *files.translation* value

[2021-09-02 15:00] Andralisimus commented on #68
@andrii-bodnar
I spent some time to make `/values-%two_letters_code%/%original_file_name%` work.
But I couldn't. But that's okay) I decided to leave default format.

Tools > Crowdin > Upload Sources made it, so thank you)

[2021-09-02 15:00] #68 closed

[2021-09-23 15:38] van-tran opened #69 "It always download translation into a new folder all1321421...."
**Describe the bug**
I've tried many configuration for target translation file. Like this :
`
files.source=**/values/strings.xml
files.translation=**/values-%two_letters_code%/strings.xml
`

**Expected behavior**
I expect the translation file should be put in the right folder of android project. (app/src/main/res/values-en/strings.xml).

**Screenshots**
![image](https://user-images.githubuserconte

[2021-09-27 09:32] andrii-bodnar commented on #69
Hi @van-tran!
Please try to use absolute paths in your configuration.

[2021-09-27 10:17] van-tran commented on #69
Oh. Thanks @andrii-bodnar .
So my team will need update the absolute paths if they clone the project at different places, right?

[2021-09-27 10:59] andrii-bodnar commented on #69
@van-tran sorry, I mean absolute paths relative to your project:

[code]

[2021-09-28 03:11] van-tran commented on #69
Great. Thank you, @andrii-bodnar .
Last times, I have tried with files.source=/app/src/main/res/values/strings.xml (starting with a / ) like the sample :
https://support.crowdin.com/android-studio/

The Document is pretty confusing me.

Anyway, thank you.

[2021-09-28 03:23] van-tran commented on #69
note: I just tried files.source=/app/src/main/res/values/strings.xml . It also works.
I have no idea why it went wrong last days.
Thanks

[2021-11-17 11:41] Jeff11 commented on #69
Got the same problem. Absolute paths for `files.source` and `files.translation` didn't fix it :(

I know it worked a few months ago, when I configured the `crowdin.properties` for our project.

This is the `crowdin.properties` file

[code]

[2021-11-17 14:27] andrii-bodnar commented on #69
Hi @Jeff11!
We can't reproduce this issue. Could you please share the sample project where the issue is easily reproducible?

[2022-01-22 17:23] WVerlaek commented on #69
Had the same issue, what fixed it for me was to upload sources.

What triggered the issue for me:
- Refactored my app from a single module into a multi-module architecture, moving all string resources from the default `app/` module to a new `libraries/ui-components/` module
- Updated `crowdin.properties` to include:
[code]
- Tried to `Download Translations` from within Android Studio
- Files were

[2022-02-28 14:21] nhammami commented on #60
hi @andrii-bodnar

I see that a new option was added excluded-target-languages, can i used it to exclude some languages for any file.source ?

Best Regards,
Nouha.

[2022-02-28 15:50] andrii-bodnar commented on #60
Hi @nhammami

Yes, you can use it for any files group in your configuration file:

[code]

[2022-04-12 12:24] SteinerOk commented on #59
Any updates with this issue?

[2022-04-12 13:50] andrii-bodnar commented on #59
Hi @SteinerOk!

Currently, there is a possibility to use only a single `crowdin.properties` file but configure patterns for each flavor.

https://github.com/crowdin/android-studio-plugin#filessourcetranslation-parameters

for example:

[code]

[2022-04-12 14:01] SteinerOk commented on #59
@andrii-bodnar I'm in a more difficult situation.

I have several productFlavors, so at the same time I need to decompose the translations into different folders, depending on the language, for example:

[code]

[2022-04-12 15:01] andrii-bodnar commented on #59
@SteinerOk, hmm, the source file is located in one module and translation files should be placed inside the other modules?

[2022-04-12 15:07] SteinerOk commented on #59
@andrii-bodnar no, all files in the same module (**app**), but translation placed in different **productFlavors**.
We have 2 productFlavors:  **omni** and **polidesk**
For **omni** we need translation to Turkish, and for **polidesk** we need translation for English

[2022-05-04 08:53] #57 closed

[2022-05-04 08:53] #69 closed

[2022-05-19 09:09] nightwolf13 commented on #60
Hi,
I have next configuration for chinese language files:
![image](https://user-images.githubusercontent.com/30594754/169256613-c8d9cb4e-d566-4099-9ebe-273f91ceaf58.png)
So where zh, zh-rCN - simplified chinese
And zh-rTW, zh-rMO, zh-rHK - traditional chinese
I want to have just 2 languages in crowdin (simplified chinese and traditional chinese)
And update all files properly..
Is it possible to co

[2022-05-19 09:58] nightwolf13 commented on #60
So I have to have 5 languages in the crowdin, even the real there is only 2 real translations?
How should I configure crowdin.properties in this case, because i have 1 chinese language available by two-letters code, and 4 languages with 'android-code'?

[2022-05-19 11:01] andrii-bodnar commented on #60
@nightwolf13 what is your source language?

[2022-05-19 11:19] nightwolf13 commented on #60
@andrii-bodnar , english

[2022-05-19 11:25] andrii-bodnar commented on #60
@nightwolf13 thank you

What the difference between `zh` and `zh-rCN` languages in your project?

[2022-05-19 11:31] nightwolf13 commented on #60
@andrii-bodnar ,
Just app name (for chinese region it should be slightly different). Yes, the problem with simplified can be solved using just zh file.. But what about traditional chinese? As I know it's used in these 3 regions (rTW, rHK, rMO)..

[2022-05-19 11:37] andrii-bodnar commented on #60
@nightwolf13 you need to create a custom language for the `ch` code (and set `zh` as an `%android_code%`)

Crowdin supports natively only the following codes:
![Знімок екрана 2022-05-19 о 14 33 14](https://user-images.githubusercontent.com/29282228/169284175-b47a0513-0761-49bf-b11d-e62ea8cde5e1.png)

Then add to your Crowdin project other languages and configure the `Automatically fill in regional

[2022-05-19 11:45] nightwolf13 commented on #60
@andrii-bodnar , Thanks!
Looks like Automatic filling can solve this problem..
But am I right that in this case I will use 5*n hosted words instead of 2*n?

[2022-05-19 11:51] andrii-bodnar commented on #60
@nightwolf13 yes, currently there is no possibility to fill some languages with another language on the Crowdin Android Studio plugin side.

Though, on the other hand, the translation for some strings may be different for these dialects, so it may be incorrect to fill all the dialects (zh-TW, zh-HK, zh-MO) with just Chinese Traditional.

[2022-06-15 08:16] Yakoot commented on #59
Hello!
Any news about settings for flavors?
We have structure like this, main app and two apps based on the main, but with another translations, another languages etc
app
--main
----values
------strings.xml
----values-id
------strings.xml
----values-zh
------strings.xml
----values-hi
------strings.xml
--flavor1
----values
------strings.xml
----values-id
------strings.xml
--flavor2
----values
-----

[2022-06-15 08:31] andrii-bodnar commented on #59
@Yakoot there are no updates regarding flavors. Did you try to set up patterns for each flavor like in [this](https://github.com/crowdin/android-studio-plugin/issues/59#issuecomment-1096756737) example?

[2022-08-15 18:03] Seb-IndigoAg opened #74 "Branch name can't contain any of the following characters: \ / : * ? " < > |"
**Describe the bug**
Looks like I can't use `/` in my branch name. for example: `poc/crowdin`, will throw `Crowdin: Branch name can't contain any of the following characters: \ / : * ? " < > |`

**To Reproduce**
Steps to reproduce the behavior:
1. Create branch with a `/` -> `git checkout -b poc/crowdin`
2. Run Gradle Sync from Android Studio
3. Tap `refresh data` in Crowdin Android Studio Plugin

[2022-08-16 07:48] andrii-bodnar commented on #74
Hi @Seb-IndigoAg!

It's a Crowdin API limitation - a branch name can't contain the following characters: `\ / : * ? " < > |`

Please try not to use slashes in the branch names.

[2022-09-12 08:51] #74 closed

[2022-09-27 07:16] #60 closed

[2022-10-04 07:58] andrii-bodnar opened #78 "New import options for translations upload"
**Is your feature request related to a problem? Please describe.**

Currently, the "Upload Translations" option is not configurable and doesn't allow applying additional import options to the uploaded translations.

The [Upload Translations](https://developer.crowdin.com/api/v2/#operation/api.projects.translations.postOnLanguage) API supports the following request parameters:

- `importEqSuggestio

[2022-10-06 08:20] andrii-bodnar opened #79 "Fix typo in UIUtil:confirmDialog method name"
The first character of `UIUtil:confirmDialog` method name has a different encoding, it should be replaced with the regular `c` character.

![screenshot](https://user-images.githubusercontent.com/29282228/194259811-e8d1b7fc-8fff-4829-b3e5-da94830d2819.png)

https://github.com/crowdin/android-studio-plugin/blob/c3d04ea62a02ae25fbbc10073adf43c4d1ade37e/src/main/java/com/crowdin/util/UIUtil.java#L12

[2022-10-06 09:43] manish-singh-bisht commented on #79
Hi @andrii-bodnar I can help you with this typo in UIUtil.java file.
Please assign me this.
Thank  you.

[2022-10-06 09:46] manish-singh-bisht commented on #79
By regular 'c' character you mean the **latin small letter 'c'**?

[2022-10-06 09:49] andrii-bodnar commented on #79
Hi @manish-singh-bisht great, thank you!

Yes, the Latin small letter 'c'

[2022-10-06 11:08] andrii-bodnar commented on #78
@jivjen sure, thank you!

[2022-10-06 12:08] jivjen commented on #78
@andrii-bodnar
Created the below PR.
Could you please help review it?
https://github.com/crowdin/android-studio-plugin/pull/81

[2022-10-06 15:55] #79 closed

[2022-10-07 18:10] andrii-bodnar opened #82 "Add missing Unit tests for the `CrowdinFileUtil.java` class"
The `CrowdinFileUtil.java` class has low Unit test coverage. It would be great to add the missing Unit tests.

- [Actual coverage](https://app.codecov.io/gh/crowdin/android-studio-plugin/blob/master/src/main/java/com/crowdin/util/CrowdinFileUtil.java)
- [CrowdinFileUtilTest.java](https://github.com/crowdin/android-studio-plugin/blob/master/src/test/java/com/crowdin/util/CrowdinFileUtilTest.java)
-

[2022-10-07 18:13] andrii-bodnar opened #83 "Add missing Unit tests for the `PlaceholderUtil.java` class"
The `PlaceholderUtil.java` class has low Unit test coverage. It would be great to add the missing Unit tests.

- [Actual coverage](https://app.codecov.io/gh/crowdin/android-studio-plugin/blob/master/src/main/java/com/crowdin/util/PlaceholderUtil.java)
- [PlaceholderUtilTest.java](https://github.com/crowdin/android-studio-plugin/blob/master/src/test/java/com/crowdin/util/PlaceholderUtilTest.java)
-

[2022-10-07 18:17] sivasuriyankumarasamy commented on #83
Hi @andrii-bodnar, I would like to work on this. please assign this to me.

[2022-10-07 18:18] Sakshi-75 commented on #82
Hi @andrii-bodnar ,
I would like to work on this. Can you assign it to me?

[2022-10-07 18:31] andrii-bodnar opened #84 "Add missing Unit tests for the `PropertyUtil.java` class"
The `PropertyUtil.java` class has low Unit test coverage. It would be great to add the missing Unit tests.

- [Actual coverage](https://app.codecov.io/gh/crowdin/android-studio-plugin/blob/master/src/main/java/com/crowdin/util/PropertyUtil.java)
- [PropertyUtilTest.java](https://github.com/crowdin/android-studio-plugin/blob/master/src/test/java/com/crowdin/util/PropertyUtilTest.java)
- [PropertyUt

[2022-10-07 18:33] andrii-bodnar opened #85 "Add missing Unit tests for the `LanguageMapping.java` class"
The `LanguageMapping.java` class has low Unit test coverage. It would be great to add the missing Unit tests.

- [Actual coverage](https://app.codecov.io/gh/crowdin/android-studio-plugin/blob/master/src/main/java/com/crowdin/util/LanguageMapping.java)
- [LanguageMapping.java](https://github.com/crowdin/android-studio-plugin/blob/master/src/main/java/com/crowdin/util/LanguageMapping.java)

[2022-10-07 18:35] andrii-bodnar opened #86 "Cover the `RetryUtil.java` class by Unit tests"
The `RetryUtil.java` class has no Unit test coverage. It would be great to add Unit tests for this class.

[Actual coverage](https://app.codecov.io/gh/crowdin/android-studio-plugin/blob/master/src/main/java/com/crowdin/util/RetryUtil.java)
[RetryUtil.java](https://github.com/crowdin/android-studio-plugin/blob/master/src/main/java/com/crowdin/util/RetryUtil.java)

[2022-10-07 21:45] Gowrishankar04 commented on #84
Hi @andrii-bodnar,

I am interested in it, Can you please assign it to me?

Thanks

[2022-10-08 09:06] andrii-bodnar commented on #84
Hi @Gowrishankar04, thank you! Please let me know if you need any assistance with that

[2022-10-08 09:06] andrii-bodnar commented on #82
Hi @Sakshi-75, thank you! Please let me know if you need any assistance with that

[2022-10-08 11:33] robertberes commented on #85
Hi @andrii-bodnar I would like to work on this. Could you please assign it to me?

[2022-10-08 13:16] andrii-bodnar commented on #83
Hi @sivasuriyankumarasamy, thank you! Please let me know if you need any assistance with that

[2022-10-08 16:20] sivasuriyankumarasamy commented on #83
Hi @andrii-bodnar,

In PlaceholderUtil.class, formatForRegex method is non static. As PlaceholderUtil class does not have public constructor I could not call formatForRegex method from test class.

I think we have below 2 option.
Option 1) We can make formatForRegex method as static and write the test cases.
Option 2) If not we cannot write the test cases as of now.

Please help me with this situa

[2022-10-08 17:52] andrii-bodnar commented on #83
@sivasuriyankumarasamy just checked the code and it seems like the `formatForRegex` method is not even used anywhere else. It looks like we can remove this method, isn't it?

[2022-10-08 20:11] sivasuriyankumarasamy commented on #83
yes @andrii-bodnar. we can remove. can I remove and raise PR?

[2022-10-08 20:22] andrii-bodnar commented on #83
@sivasuriyankumarasamy sure. Or it can be removed along with the tests added

[2022-10-08 21:04] Sakshi-75 commented on #82
Hi @andrii-bodnar ,
I've raised a PR for this: https://github.com/crowdin/android-studio-plugin/pull/87
I added coverage for almost the complete file. Only 2 lines of code are missed as it was an exception scenario in a private method.

[2022-10-08 21:17] Sakshi-75 commented on #86
Hi @andrii-bodnar ,
Can I work on this?

[2022-10-09 06:11] #82 closed

[2022-10-09 08:35] ImnIrdst commented on #85
Hey, I want to work on this. Can you please assign me to it?

[2022-10-09 08:40] andrii-bodnar commented on #85
@ImnIrdst thank you! Please let me know if you need any assistance with that.

[2022-10-09 12:10] Sakshi-75 commented on #86
Hi @andrii-bodnar ,
I noticed that there's a part of the code n RetryUtil.java which will never get called.
Line 23 throw e gets called when i+i==retries.
Since retries is an odd number 3 and it is a private static final variable which means it can't be changed so it's not possible for the i+i==retries condition to ever be true as i is integer.
Should I remove this part of the code from the file?

[2022-10-09 12:59] andrii-bodnar commented on #86
@Sakshi-75 nice catch! I would suggest changing this condition in the following way: `i + 1 == retries`

[2022-10-09 14:10] Sakshi-75 commented on #86
Hi @andrii-bodnar ,
I've raised a PR for this: https://github.com/crowdin/android-studio-plugin/pull/88
Please review it.

[2022-10-09 18:21] sivasuriyankumarasamy commented on #83
@andrii-bodnar I have raised a PR for this ticket. Please review.

https://github.com/crowdin/android-studio-plugin/pull/90

[2022-10-09 19:44] #86 closed

[2022-10-09 19:50] #85 closed

[2022-10-09 19:51] #83 closed

[2022-10-11 18:54] andrii-bodnar opened #91 "Increase code coverage for the `FileUtil` class"
This class is an important part of the plugins, so it should be carefully covered by Unit tests.

- [Actual coverage](https://app.codecov.io/gh/crowdin/android-studio-plugin/blob/master/src/main/java/com/crowdin/util/FileUtil.java)
- [FileUtil.java class](https://github.com/crowdin/android-studio-plugin/blob/master/src/main/java/com/crowdin/util/FileUtil.java)
- [FileUtilTest.java class](https://g

[2022-10-11 18:57] andrii-bodnar opened #92 "Add Unit tests for the `GitUtil` and `ActionUtils` classes"
- [GitUtil.java actual coverage](https://app.codecov.io/gh/crowdin/android-studio-plugin/blob/master/src/main/java/com/crowdin/util/GitUtil.java)
- [ActionUtils.java actual coverage](https://app.codecov.io/gh/crowdin/android-studio-plugin/blob/master/src/main/java/com/crowdin/util/ActionUtils.java)
- [GitUtil.java](https://github.com/crowdin/android-studio-plugin/blob/master/src/main/java/com/crow

[2022-10-11 19:45] Sakshi-75 commented on #91
Hi @andrii-bodnar ,
Can I work on this?

[2022-10-11 19:45] Sakshi-75 commented on #92
Hi @andrii-bodnar ,
Can I work on this?

[2022-10-11 20:08] andrii-bodnar commented on #92
Hi @Sakshi-75, sure, thank you!

[2022-10-12 18:20] Gowrishankar04 commented on #84
Hi @andrii-bodnar ,

Raised PR: https://github.com/crowdin/android-studio-plugin/issues/84
Please review and merge it.

Thanks

[2022-10-17 07:34] andrii-bodnar commented on #92
Hi @Sakshi-75, do you need any assistance here? Just wondering what the progress on this issue

[2022-10-17 07:35] andrii-bodnar commented on #84
Hi @Gowrishankar04, please check my comments on that PR

[2022-10-17 19:26] Sakshi-75 commented on #91
Hi @andrii-bodnar ,
I've raised a PR for this: https://github.com/crowdin/android-studio-plugin/pull/94
Please review it.

[2022-10-17 19:38] Sakshi-75 commented on #92
Hi @andrii-bodnar , sorry about the delay. I've started working on this and will try to finish it in a couple of days.

[2022-10-18 17:55] #91 closed

[2022-10-19 20:29] Sakshi-75 commented on #92
Hi @andrii-bodnar , I'm facing issue in trying to create a Project object for the tests. Can you suggest me a way to do it?
I tried using ProjectManager to create one but that requires an ApplicationManager which requires Application and so on.
Is there any simpler way to create a Project object?

[2022-10-20 15:17] andrii-bodnar commented on #92
Hi @Sakshi-75, it's an interesting case, didn't notice that before. I'm afraid that it could be impossible to mock this object

[2022-10-20 17:33] Sakshi-75 commented on #92
Hi @andrii-bodnar so how should we proceed in this case since the project object is mandatory in both these until classes?

[2022-10-20 17:48] andrii-bodnar commented on #92
@Sakshi-75 I guess we have to skip these classes, I should have noticed that before creating this issue

[2022-10-20 17:50] andrii-bodnar commented on #92
@Sakshi-75 you can write some Unit tests for some other part of the application if you wish

[2022-10-20 17:57] andrii-bodnar commented on #92
@Sakshi-75 great, thanks a lot for your involvement!

[2022-10-21 12:00] #92 closed

[2022-10-21 12:00] #84 closed

[2022-10-21 12:04] andrii-bodnar commented on #58
There is a "Download Translation File from Crowdin" action in the context menu for a translation file that allows downloading translations only for this language.

![image](https://user-images.githubusercontent.com/29282228/197191504-3436fd45-1a7f-4337-be0a-11e0af00ad55.png)

[2022-10-21 12:04] #58 closed

[2022-10-22 14:21] Sakshi-75 opened #95 "Add unit tests to improve code coverage for Util.java"
Currently Util.java has 0% code coverage.

[2022-10-22 16:55] #95 closed

[2022-10-22 18:40] Gowrishankar04 opened #97 "Add Unit tests to improve code coverage in CrowdinProjectCacheProvider.java"
Currently the code coverage for the file is 0%

[2022-10-22 19:37] #97 closed

[2022-10-24 12:36] andrii-bodnar opened #99 "Improve tests coverage for the `CrowdinPropertiesLoader.java` class"
The CrowdinPropertiesLoader is an essential part of the application and should be carefully covered by Unit tests.

- [Actual coverage](https://app.codecov.io/gh/crowdin/android-studio-plugin/blob/master/src/main/java/com/crowdin/client/CrowdinPropertiesLoader.java)
- [CrowdinPropertiesLoaderTest.java](https://github.com/crowdin/android-studio-plugin/blob/master/src/test/java/com/crowdin/client/Cr

[2022-10-24 12:40] andrii-bodnar opened #100 "Write Unit test for the `CrowdinProjectCacheProvider::getInstance` method"
Currently, this method is not covered by Unit tests.

- [Actual coverage](https://app.codecov.io/gh/crowdin/android-studio-plugin/blob/master/src/main/java/com/crowdin/client/CrowdinProjectCacheProvider.java)
- [CrowdinProjectCacheProviderTest.java](https://github.com/crowdin/android-studio-plugin/blob/master/src/test/java/com/crowdin/client/CrowdinProjectCacheProviderTest.java)
- [CrowdinProjectC

[2022-10-24 16:31] Gowrishankar04 commented on #99
Hi @andrii-bodnar ,

Can you please assign this to me ?

Thanks

[2022-10-24 16:32] andrii-bodnar commented on #99
Hi @Gowrishankar04, sure, thank you!

[2022-10-28 08:38] iremugurlu commented on #100
Hey, I'm interested. Can you assign this one to me?

[2022-10-29 19:41] #99 closed

[2022-10-29 20:52] Sakshi-75 opened #102 "Add unit tests for CrowdinSettings.java to increase code coverage"
Currently the code coverage for this file is 0%.
Add unit tests for this to improve code coverage.

[2022-10-29 20:54] Sakshi-75 commented on #102
Hi @andrii-bodnar , I've raised a PR for this: #103
Can you review it please?

[2022-10-30 09:28] #102 closed

[2022-11-01 07:42] andrii-bodnar commented on #100
Hi @iremugurlu, do you have any updates on this?

[2022-11-01 07:47] #78 closed

[2022-11-04 13:05] iremugurlu commented on #100
Hi @andrii-bodnar, sorry I didn't have much time to look at it. It has been a busy week. Feel free to assign someone else.

[2022-11-13 21:20] bluelovers opened #105 "Error getting git branch name"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

![image](https://user-images.githubusercontent.com/167966/201545129-d5026f94-3a1e-48cf-aa81-2e0b1f9f36fe.png)

**Environment:**
Windows 10

![image](https://user-images.githubusercontent.com/167966/201545094-d054dd84-f55e-48ef-ae76-7aaba6c90f07.png)

**Expected behavior**
A clear and concise description of

[2022-11-14 07:59] andrii-bodnar commented on #105
Hi @bluelovers, please provide your `crowdin.properties` **configuration** (without credentials) and the **plugin output** after enabling the debug mode `debug=true`

[2022-11-14 11:08] bluelovers commented on #105
[code]

[2022-11-14 12:12] andrii-bodnar commented on #105
@bluelovers this is the `crowdin.yml` configuration, it's not supposed to be used with the Crowdin Android Studio Plugin. For this plugin you need to have the `crowdin.properties` configuration file

Please check the [Configuration](https://github.com/crowdin/android-studio-plugin#configuration) section in the Readme for more details

[2022-11-14 12:36] bluelovers commented on #105
wrong paste config , that is for test cli

---

this is for plugin

[code]

[2022-11-14 12:55] andrii-bodnar commented on #105
@bluelovers please try to add the following option to the config:

[code]

Then try again running the plugin actions (Upload, Download)